@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
    background: #020b14;
  }
  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}
